@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
  /* 
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
  --color-cyan: hsl(180, 66%, 49%);
  --color-cyanLight: hsl(180, 66%, 69%);
  --color-darkViolet: hsl(257, 27%, 26%);
  --color-red: hsl(0, 87%, 67%);
  --color-grayishViolet: hsl(257, 7%, 63%);
  --color-veryDarkBlue: hsl(255, 11%, 22%);
  --color-veryDarkViolet: hsl(260, 8%, 14%);
  --spacing-180: 32rem;
  */
}

/* #hero {
  background-image: url('../images/coding-hero.mp4');
  background-repeat: no-repeat;
  background-size: cover;
} */

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}